bin
obj
packages
.vs
/master/Seaknots.TCMS/Seaknots.TCMS.API/Seaknots.TCMS.Log
/master/Seaknots.TCMS/PublishTarget/Microsoft.Data.Sqlite.dll
/master/Seaknots.TCMS/PublishTarget/Microsoft.EntityFrameworkCore.Abstractions.dll
/master/Seaknots.TCMS/PublishTarget/Microsoft.EntityFrameworkCore.Relational.dll
/master/Seaknots.TCMS/PublishTarget/Microsoft.EntityFrameworkCore.Sqlite.dll
/master/Seaknots.TCMS/PublishTarget/Microsoft.EntityFrameworkCore.dll
/master/Seaknots.TCMS/PublishTarget/Remotion.Linq.dll
/master/Seaknots.TCMS/PublishTarget/SQLitePCLRaw.batteries_green.dll
/master/Seaknots.TCMS/PublishTarget/SQLitePCLRaw.batteries_v2.dll
/master/Seaknots.TCMS/PublishTarget/SQLitePCLRaw.core.dll
/master/Seaknots.TCMS/PublishTarget/SQLitePCLRaw.provider.e_sqlite3.dll
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.API.deps.json
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.API.dll
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.API.pdb
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.API.runtimeconfig.json
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Core.dll
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Core.dll.config
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Core.pdb
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.DataAccess.dll
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.DataAccess.dll.config
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.DataAccess.pdb
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Entities.dll
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Entities.dll.config
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Entities.pdb
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Log
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Repository.dll
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Repository.dll.config
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Repository.pdb
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Service.dll
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Service.dll.config
/master/Seaknots.TCMS/PublishTarget/Seaknots.TCMS.Service.pdb
/master/Seaknots.TCMS/PublishTarget/Swashbuckle.AspNetCore.Swagger.dll
/master/Seaknots.TCMS/PublishTarget/Swashbuckle.AspNetCore.SwaggerGen.dll
/master/Seaknots.TCMS/PublishTarget/Swashbuckle.AspNetCore.SwaggerUI.dll
/master/Seaknots.TCMS/PublishTarget/Swashbuckle.AspNetCore.dll
/master/Seaknots.TCMS/PublishTarget/System.Diagnostics.DiagnosticSource.dll
/master/Seaknots.TCMS/PublishTarget/System.Interactive.Async.dll
/master/Seaknots.TCMS/PublishTarget/TrackableEntities.Common.Core.dll
/master/Seaknots.TCMS/PublishTarget/TrackableEntities.EF.Core.dll
/master/Seaknots.TCMS/PublishTarget/Web.config
/master/Seaknots.TCMS/PublishTarget/appsettings.Development.json
/master/Seaknots.TCMS/PublishTarget/appsettings.json
/master/Seaknots.TCMS/PublishTarget/runtimes/alpine-x64/native/libe_sqlite3.so
/master/Seaknots.TCMS/PublishTarget/runtimes/linux-arm/native/libe_sqlite3.so
/master/Seaknots.TCMS/PublishTarget/runtimes/linux-arm64/native/libe_sqlite3.so
/master/Seaknots.TCMS/PublishTarget/runtimes/linux-armel/native/libe_sqlite3.so
/master/Seaknots.TCMS/PublishTarget/runtimes/linux-musl-x64/native/libe_sqlite3.so
/master/Seaknots.TCMS/PublishTarget/runtimes/linux-x64/native/libe_sqlite3.so
/master/Seaknots.TCMS/PublishTarget/runtimes/linux-x86/native/libe_sqlite3.so
/master/Seaknots.TCMS/PublishTarget/runtimes/osx-x64/native/libe_sqlite3.dylib
/master/Seaknots.TCMS/PublishTarget/runtimes/win-x64/native/e_sqlite3.dll
/master/Seaknots.TCMS/PublishTarget/runtimes/win-x86/native/e_sqlite3.dll
/master/Seaknots.TCMS/PublishTarget/runtimes/win8-arm/native/e_sqlite3.dll
/master/Seaknots.TCMS/Seaknots.TCMS.API/Seaknots.TCMS.API.csproj.user
